body {
    background-color:white;
    background-image: url(granger.jpg);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: top right;
}

h1 {
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(9, 255, 0);
    text-align: left;
    font-weight: 500;
    font-style: oblique;

}

p {
    color: red;
    font-weight: lighter;
    font-size: 20px;
    font-family: serif;
}